<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{layout::css-md}"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Tạo mới</title>
</head>
<body>
<form action="" method="post">

    <div class="container">
        <h4 class="text-center text-primary my-4">Thông tin khách hàng thành viên</h4>
        <form class="container mx-auto" th:object="${dto}" method="post" action="/create">
            <div class="form-outline my-2 col-4 mx-auto">
                <input type="text" id="name" class="form-control" th:field="*{name}"/>
                <label class="form-label" for="name">Tên</label>
            </div>
            <div class="my-2 col-4 mx-auto">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>
            <div class="form-outline my-2 col-4 mx-auto">
                <input type="text" id="quantity" class="form-control" th:field="*{quantity}"/>
                <label class="form-label" for="quantity">Số lượng</label>
            </div>
            <div class="my-2 col-4 mx-auto">
                <p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
            </div>
            <div class="form-outline my-2 col-4 mx-auto">
                <input type="text" id="description" class="form-control" th:field="*{description}"/>
                <label class="form-label" for="description">Mô tả</label>
            </div>
            <div class="my-2 col-4 mx-auto">
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
            </div>
            <div class="form-outline my-2 col-4 mx-auto">
                <input type="date" id="dob" class="form-control" th:field="*{dateCreated}"/>
                <label class="form-label" for="dob">Ngày tạo</label>
            </div>
            <div class="my-2 col-4 mx-auto">
                <p th:if="${#fields.hasErrors('dateCreated')}" th:errors="*{dateCreated}"></p>
            </div>

<!--            <div class="form-outline my-2 col-4 mx-auto">-->
<!--                <select id="gender" class="form-select" th:field="*{gender}">-->
<!--                    <option value="">&#45;&#45;Giới tính&#45;&#45;</option>-->
<!--                    <option value="0">Nữ</option>-->
<!--                    <option value="1">Nam</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="my-2 col-4 mx-auto">-->
<!--                <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>-->
<!--            </div>-->
<!--            <div class="form-outline my-2 col-4 mx-auto" >-->
<!--                <select id="typeCustomer"  class="form-select" th:field="*{customerType}">-->
<!--                    <option value="">&#45;&#45;Loại khách hàng&#45;&#45;</option>-->
<!--                    <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="my-2 col-4 mx-auto">-->
<!--                <p th:if="${#fields.hasErrors('customerType')}" th:errors="*{customerType}"></p>-->
<!--            </div>-->
            <div class="col-4 my-2 mx-auto">
                <input type="submit" id="register" value="Đăng ký" class="btn btn-secondary w-100">
            </div>
        </form>
    </div>



</form>
<th:block th:replace="~{layout::js-md}"></th:block>
</body>
</html>