<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <th:block th:replace="~{/layout::link-bootstrap}"></th:block>
</head>
<body>
<p>
    <a href="/">Shop</a>
</p>
<h1>Your Cart</h1>
<form th:action="@{/payment}" th:object="${cart}" method="get">
    <h3>Total Items: <span th:text="${cart.countItemQuantity()}"></span></h3>
    <h3>Total Products: <span th:text="${cart.countProductQuantity()}"></span></h3>
    <table class="table table-striped w-50 mx-auto">
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr th:each="product: ${cart.products}">
            <td th:text="${product.getKey().name}"></td>
            <td>
                <a id="decrease_button" class="btn btn-warning p-1" th:href="@{/remove-from-cart/{id}(id=${product.getKey().id})}" th:text="${'-'}"></a>
                <span th:text="${product.getValue()}"></span>
                <a id="increase_button" class="btn btn-primary p-1" th:href="@{/add-to-cart/{id}(id=${product.getKey().id})}"
                   th:text="${'+'}"></a>
            </td>
            <td th:text="${product.getKey().price}"></td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td th:text="${cart.countTotalPayment()}"></td>
        </tr>
        <input type="hidden" name="payment" th:value="${cart.countTotalPayment()}">
    </table>
    <input type="submit" value="Thanh toán giỏ hàng">
</form>

<th:block th:replace="~{/layout::js-mdbootstrap}"></th:block>
</body>
</html>