<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tạo blog mới</title>
    <th:block th:replace="~{/layout::link-bootstrap}"></th:block>
</head>
<body>
<p class="h4 text-center text-warning m-4">Thông tin danh mục</p>
<form th:object="${category}" th:action="@{/category/add}" th:method="post">

    <div class="form-outline my-4 w-75 mx-auto">
        <input type="text" id="author" th:field="*{name}" class="form-control form-control-lg" />
        <label class="form-label" for="author">Tên danh mục</label>
    </div>


    <div class="text-center my-3">
        <input type="submit" value="Đăng tải blog" class="btn btn-primary">
        <a class="btn btn-secondary" th:href="@{/category}">Trở lại</a>
    </div>

</form>

<footer th:replace="~{/layout::footer}"></footer>
<th:block th:replace="~{/layout::js-mdbootstrap}"></th:block>
</body>
</html>